/* ==========================
   GLOBAL
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
    scroll-behavior:smooth;
}

body{
    background:
    radial-gradient(circle at top right,
    rgba(185,28,28,0.15),
    transparent 40%),

    radial-gradient(circle at bottom left,
    rgba(127,29,29,0.2),
    transparent 50%),

    #0A0A0A;

    color:#F5F5F5;
    min-height:100vh;
}

/* ==========================
   NAVBAR
========================== */

header{
    position:sticky;
    top:0;
    z-index:1000;

    background:rgba(10,10,10,0.85);

    backdrop-filter:blur(12px);

    border-bottom:1px solid rgba(255,255,255,0.08);
}

nav{
    max-width:1200px;
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px;
}

nav h2{
    color:#DC2626;
    font-size:1.5rem;
}

nav ul{
    display:flex;
    gap:25px;
    list-style:none;
}

nav a{
    color:#F5F5F5;
    text-decoration:none;
    transition:.3s;
}

nav a:hover{
    color:#EF4444;
}

/* ==========================
   HERO
========================== */

.hero{
     display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.hero-text{
    max-width:800px;
}

.hero h1{
    font-size:4rem;
    margin-bottom:15px;
    line-height:1.1;
}

.hero h3{
    color:#DC2626;
    margin-bottom:20px;
    font-weight:500;
}

.hero p{
    color:#BDBDBD;
    line-height:1.8;
    max-width:700px;
    margin:auto;
}

/* ==========================
   BUTTON
========================== */

.btn{
    display:inline-block;

    margin-top:30px;

    padding:14px 30px;

    background:
    linear-gradient(
        135deg,
        #991B1B,
        #DC2626
    );

    color:white;

    text-decoration:none;

    border-radius:50px;

    font-weight:600;

    transition:.3s;
}

.btn:hover{
    transform:translateY(-3px);

    box-shadow:
    0 0 25px rgba(220,38,38,0.35);
}

/* ==========================
   SECTION
========================== */

.section{
    max-width:1200px;
    margin:auto;
    padding:90px 20px;
}

.section h2{
    text-align:center;
    margin-bottom:40px;

    color:#DC2626;

    font-size:2rem;
}

.section p{
    color:#BDBDBD;
    line-height:1.8;
}

/* ==========================
   SKILLS
========================== */

.skill-grid{
    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(180px,1fr));

    gap:20px;
}

.card{
    background:
    rgba(255,255,255,0.03);

    border:
    1px solid rgba(255,255,255,0.08);

    backdrop-filter:blur(10px);

    padding:20px;

    border-radius:18px;

    text-align:center;

    transition:.3s;
}

.card:hover{
    transform:translateY(-6px);

    border-color:#DC2626;

    box-shadow:
    0 10px 30px rgba(220,38,38,0.15);
}

/* ==========================
   PROJECTS
========================== */

.project-container{
    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(320px,1fr));

    gap:25px;
}

.project-card{
    background:
    rgba(255,255,255,0.03);

    border:
    1px solid rgba(255,255,255,0.08);

    backdrop-filter:blur(10px);

    padding:25px;

    border-radius:18px;

    transition:.3s;
}

.project-card:hover{
    transform:translateY(-8px);

    border-color:#DC2626;

    box-shadow:
    0 10px 30px rgba(220,38,38,0.15);
}

.project-card h3{
    color:#EF4444;
    margin-bottom:15px;
}

.project-card p{
    color:#BDBDBD;
    line-height:1.7;
}

/* ==========================
   CONTACT
========================== */

.contact-box{
    text-align:center;
}

.contact-box p{
    margin-bottom:12px;
}

/* ==========================
   FOOTER
========================== */

footer{
    background:#111111;

    border-top:
    1px solid rgba(255,255,255,0.08);

    color:#A3A3A3;

    text-align:center;

    padding:25px;

    margin-top:50px;
}

/* ==========================
   SCROLLBAR
========================== */

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#0A0A0A;
}

::-webkit-scrollbar-thumb{
    background:#991B1B;
    border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
    background:#DC2626;
}

/* ==========================
   RESPONSIVE
========================== */

@media(max-width:768px){

    nav{
        flex-direction:column;
        gap:15px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero h1{
        font-size:2.5rem;
    }

    .hero h3{
        font-size:1rem;
    }

    .section{
        padding:70px 20px;
    }

    .project-container{
        grid-template-columns:1fr;
    }
}


.social-links{
    margin-top:30px;

    display:flex;
    justify-content:center;
    gap:20px;
}

.social-links a{

    width:55px;
    height:55px;

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius:50%;

    background:rgba(255,255,255,0.05);

    border:1px solid rgba(255,255,255,0.08);

    color:#F5F5F5;

    font-size:1.5rem;

    text-decoration:none;

    transition:0.3s;
}

.social-links a:hover{

    transform:translateY(-5px);

    border-color:#DC2626;

    box-shadow:
    0 0 20px rgba(220,38,38,0.35);

    color:#EF4444;
}
.hero-content{
    text-align:center;
}

.profile-img{
    width:180px;
    height:180px;

    object-fit:cover;

    border-radius:50%;

    border:4px solid #DC2626;

    margin-bottom:25px;

    box-shadow:
    0 0 30px rgba(220,38,38,.4);
}
.menu-toggle{

    position:fixed;

    top:25px;
    left:25px;

    z-index:1001;

    font-size:28px;

    color:#fff;

    cursor:pointer;
}

#sidebar{
    position:fixed;
    top:0;
    left:-250px;

    width:250px;
    height:100vh;

    background:#111;

    transition:.3s;
    z-index:1000;
}

#sidebar.active{
    left:0;
}

#sidebar ul{
    list-style:none;

    padding-top:100px;

    display:flex;
    flex-direction:column; /* penting */
}

#sidebar li{
    width:100%;
}

#sidebar a{
    display:block;

    padding:18px 30px;

    color:white;
    text-decoration:none;

    font-size:20px;

    transition:.3s;
}

#sidebar a:hover{
    background:rgba(220,38,38,.15);
    color:#DC2626;
    padding-left:40px;
}
.contact-desc{
    text-align:center;
    max-width:700px;
    margin:0 auto 40px;
    color:#BDBDBD;
}

.contact-box{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.contact-box a{
    width:220px;

    background:rgba(255,255,255,0.03);

    border:1px solid rgba(255,255,255,0.08);

    border-radius:18px;

    padding:25px;

    text-decoration:none;

    color:white;

    display:flex;
    flex-direction:column;
    align-items:center;
    gap:12px;

    transition:.3s;
}

.contact-box a i{
    font-size:40px;
    color:#DC2626;
}

.contact-box a span{
    font-size:18px;
    font-weight:600;
}

.contact-box a:hover{
    transform:translateY(-8px);

    border-color:#DC2626;

    box-shadow:
    0 10px 30px rgba(220,38,38,.2);
}
.img-fluid-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;

    border: 4px solid #ef4444;

    box-shadow:
        0 0 20px rgba(239,68,68,.4),
        0 0 50px rgba(239,68,68,.2);

    margin-bottom: 25px;
}